
/* COMMUN */
body{
  font-family: 'Lato', sans-serif;

}

header {
  background-color: #030d0f;
  color: white;
  width: 100%;
  height: 110px; 
  font-family: 'Lato', sans-serif;
}

header h1 {
    margin-top: 0;
    line-height: 110px;
    font-size: 35px;
    width: 600px;
    float: left;
}

header nav {
  width: 400px;
  text-align: center;
  float: right;
  height: 100%;
  line-height: 110px;
}

header nav ul {
  list-style: none;
  margin-top: 0px;
}

header nav ul li{
  display: inline-block;
  width: 100px;
}

header nav ul li:hover, header nav ul li:hover > a{
  background-color: white;
  color: black;
}

header nav ul li a{
 text-decoration: none;
 color: white;

}
header img {
  height: 100%;
  float: left;
  width: 350px;
}

footer {
    text-align: center;
    width: 100%;
    height: 120px;
    background-color: black;
}
footer p{
    color: white;
    line-height: 120px;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;

}

/* FIN COMMUN */

/* INSCRIPTION*/
#container{
  background-image: url("../img/imageback1.jpg");
  background-repeat: no-repeat;
}


div#form-inscription {
  width: 450px;
  margin-right: 5%;
  margin-top: 100px;
  padding: 7px;
  background-color: #030d0f; 
  float: right;
}

div#form-inscription form.formInscription input, form.formInscription select {
  display: block;
  margin: auto;
  width: 400px;
  height: 40px;
}

.carousel {
  width: 800px;
  height: 500px;
  background-color: red;
  float: left;
}

.carousel img{
  width: 800px;
  height: 500px;
}

.text-carousel {
  margin-top: 100px;
  width: 800px;
  height: auto;
  display: inline-block;
  margin-left: 5%;
}

.text-carousel p{
  color: white;
  font-family: ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.block-chauffeur{
  width: 100%;
  height: 300px;
  background-color: #E5E5E4;
  text-align: center;
  border: 1px solid black;
  margin-top: 10px;
}

.block-chauffeur > h2{
  color: black
}

.block-client{
  width: 100%;
  height: 300px;
  background-color: #E5E5E4;
  text-align: center;
  border: 1px solid black;
  margin-top: 10px;
}

.block-client > h2{
  color: black;
}

article.mise-en-forme {
    width: 30%;
    height: 100%;
    display: inline-block;
}


/* FIN INSCRIPTION*/

/* CONNEXION*/

.bloc-co {
  background-image: url(../img/imageback1.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 350px;
  padding-top: 50px;
}


form.formCo {
  width: 450px;
  height: 250px;
  background-color: #030d0f;
  margin: auto;
}

 form.formCo input {
  display: block;
  margin: auto;
  width: 400px;
  height: 40px; 
}


/* FIN CONNEXIONS*/


#contact {
  padding: 0px; }

html {
  width: 100%;
  height: 100%; }

body {
  max-width: 970 px;
  width: 100%;
  margin: 0px;
  background-image: url("../img/Pont-de-Normandie-03.jpg"); }

h1 {
  margin-top: 0px; }

  h2{
    color: white;
    text-align: center;
  }



div.container {
  width: 100%;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 7px;
  background-color: #030d0f; }
  div.container form.formConnexion input {
    display: block;
    margin: auto;
    padding: 10px;
    width: 80%; }

#map {
  height: 100%; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0; }


  /*INTERFACE*/

  main{
  width: : 100%;
  height: 100%;

}

main .sideBar{
  width: 15%;
  height: 100%;
  background-color: lightgrey;
  top: 0;
  padding-top: 100px;   
}

main .sideBar article {
    border-bottom: 1px dashed white;
}

main .sideBar article h1 {
    color: #787878;
    display: inline-block;
    width: 30%;
    height: 100%;
    line-height: 2em;
    font-family: 'Lato', sans-serif;
    font-size: 35px;
}


.menu {

    color: #B3A394;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;

}

.deroulant a{
    color: black;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    

}

ul.deroulant {
    list-style: none;
    padding-left: 5px;
}

.deroulant  li{
    height: 50px;
}
.deroulant  li:hover{
    background-color: #F87060;

}

.deroulant  li:hover a{



}



 
.contenue{
  width: 85%;
    height: auto;
    background-color: red;
    /* position: fixed; */
    right: 0px;
    margin-left: 15%;
}

.bloc-depart {
    width: 500px;
    float: left;
    height: 100%;
    padding-top: 40px;
    padding-left: 10%;
}

.bloc-depart input, .bloc-arrive input {
  width: 400px;
  height: 40px; 
}

.bloc-arrive {
    width: 500px;
    float: left;
    height: 100%;
    padding-top: 40px;
}

/*# sourceMappingURL=style.css.map */
